<h1>Details Payment Information</h1>
<div>
    
    <div>
        <label><b>Product Manufacturer:</b></label>{{product.name}}
    </div>
    <div>
        <label><b>Product Price:</b></label>{{product.price}}
    </div>
    <div>
        <label><b>Product Brand:</b></label>{{product.brand}}
    </div>
    <div>
        <label><b>quantity of medicine:</b></label>{{product.quantity}}
    </div>
    
</div>
<div class="navbar-nav navbar-collapse justify-content-end">
    <button (click)="PaymentDetails()" class="btn btn-info">CheckOut</button> 
</div>


